*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Work Sans', sans-serif;
}
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-container{
    display: flex;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px 0px;
    
    
    
}
.nav-logo{
    width: 50%;
    font-size: 2rem;
    font-weight: 700;
    

    
}
.nav-logo span{
    color: #FF42A5;
}
.fa {
    padding-right: 15px;
}
.nav-content{
    display: flex;
    width: 50%;
    align-items: center;
    
    justify-content: space-between;
    

}
.nav-content li{
    list-style: none;
    margin-left: 20px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    

}
.nav-content li button{
    width: 200px;
    height: 60px;
    padding: 8px 15px;
    border: none;
    border-radius: 8px;
    align-items: center;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;

}
.fa-youtube{
    color: red;
    padding: 0 2px;
    font-size: 17px;
}
.fa-tiktok{
    color: black;
    font-size: 17px;
}


 .banner-container{
    
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    
    
    
}
.banner-content{
    width: 50%;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    height: 100%;
    width: 100%;
    padding-top: 10px;
}
.banner-content{
    
    padding-top: 200px;
    text-align: center;
    background-image: url('images/Group\ 14.png');
    
}

.banner-content-title1{
    font-size: 2.5rem;
    color: #0B0223;
    font-weight: 600;
}
.banner-content-title2{
    font-size: 4.5rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-content ul li{
    color: #534C64;
    
    font-size: 1.25rem;
    
    font-weight: 500;
    align-items:end;
    list-style: none;
    
       
}

.banner-content-btn1{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: #F948B2;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    margin-right:24px ;
}
.banner-content-btn2{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    background-color:#4EC5F7;
    border: none;
    border-radius: 25px;
    margin-top: 30px;
    

}
.span{
    font-size: 100px;

}


.section-container{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.section-container-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 20px;

}
.Funny-videos{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.section-container-desc{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 400;
    
}



.game-container{
    margin: 0px auto;
    max-width: 1400px;
    padding-bottom: 30px;


}
.game-content{
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);
}

.game-content p{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 30px;
}


.horse-container{
    
    max-width: 1400px;
    margin: 30px auto 0px;
    min-height: 100px;
    display: flex;
}
.horse-content{
    padding-top: 370px;
    padding-left: 100px;
    width: 50%;
   text-align: right;
}
.horse-img{
    width: 50%;
}
.horse-title{
    max-width: 350px;
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: 20px;
    
}
.horse-desc{
    max-width: 350px;
    color: #534C64;
    line-height: 30px; 
    font-size: 1.1rem;
}
.play-instantly{
    color:  #F948B2;
}

.horse-img img{
    width: 100%;
}
.horse-img .img-overlap{
    width: 50%;
    position: relative;
    top:-270px;
    right: 150px;
}


.icon-container{
    width: 1450px;
    
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 10px;
    color: #0B0223;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: 600;
    gap: 40px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.icon-content-1{
    display: flex;
    align-items: center;
    
}
.icon-content-1:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF;
    
}
.icon-content-2{
    display: flex;
    align-items: center;
}
.icon-content-2:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF;
}
.icon-content-3{
    display: flex;
    align-items: center;
}
.icon-content-3:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF;
}
.icon-content-4{
    display: flex;
    align-items: center;
}
.icon-content-4:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF;  
}
.icon-content-5{
    display: flex;
    align-items: center;
}
.icon-content-5:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF;  
}
.icon-content-6{
    display: flex;
    align-items: center;
}
.icon-content-6:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF; 
}
.icon-content-7{
    display: flex;
    align-items: center;
}
.icon-content-7:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF; 
}
.icon-content-8{
    display: flex;
    align-items: center;
}
.icon-content-8:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF; 
}
.icon-content-9{
    display: flex;
    align-items: center;
}
.icon-content-9:hover{
    color: #F948B2;
    border: 1px solid #F948B2 ;
    border-radius: 50px;
    padding: 5px 10px;
    background: #FFF; 
}

footer{
    background: #0B0223;
   height: auto;
   width: 98vw;
    margin: 0 auto;
    margin-top: 30px;
   
    
    
}
.footer-title{
    color: #FFF;
    padding-top: 30px;
}
.G{
    color: #FF42A5;
    font-size: 1.5rem;
    font-weight: 700;

}
.footer-title{
    text-align: center;
}
.footer-content{
    display: flex;
    
    justify-content: center;
    
}
.footer-content li{
    list-style: none;
    padding: 0px 25px;
    padding-top: 50px;
    color: #FFF;
    font-weight: 600;
    font-size: 1.1rem;
}
.footer-icon{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}
.footer-icon li{
list-style: none;
margin: 30px;
font-size: 2rem;
}
.footer-para li{
    padding-left: 20px;
}
.footer-para{
   display: flex; 
   color:  rgba(255, 255, 255, 0.60);
   text-align: center;
   font-weight: 500;
   list-style: none;
   
   justify-content: center;
   margin: 0px 20px;
   

}
.footer-last-item{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}









@media screen and (max-width:576px)  {
    .nav-container ,.nav-content{
        flex-direction: column;
        
    }
    .nav-logo{
        width: 100%;
        text-align: center;
        padding-bottom: 60px;
        
    }
    .nav-content{
        width: 100%;
        
    }
    .nav-content li{
        padding-bottom: 40px;
    }
    .banner-container{

        flex-direction: column-reverse;
    }
    
    .banner-content{
        width: 100%;
        margin: 0 20px;
        padding-bottom: 20px;
    }
    .banner-img {
        width: 100%;
        padding: 30px 50px;
    }
    
    
    .section-container{
        align-items: center;
        
        padding-left: 50px;
    }
    .section-container-title{
        font-size: 1.5rem;
    }
    .section-container-desc{
        font-size: smaller;
        
    }
    .game-content{
        display: block;
        text-align: center;
        padding: 10px 60px;
    }
    .game1{
        padding-bottom: 50px;
    }
    .game2{
        padding-bottom: 50px;
    }
    .game3{
        padding-bottom: 50px;
    }
    .game4{
        padding-bottom: 50px;
    }
    .game-img{
        padding-bottom: 30px;
    }
    .horse-container{
        flex-direction: column;
    }
    .horse-content{
        width: 50%;
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 0px;
    }
    .horse-title{
        font-size: 1.7rem;
        text-align: center;
    }
    .horse-desc{
        width: 100%;
        line-height: 30px; 
        text-align: center;
    }
    .horse-img{
        width: 50%;
        margin: 0 auto;
        align-items: center;
        margin-top: 50px;
    }
    .horse-img .img-overlap{
        width: 60%;
        margin-top: 150px;
        margin-left: 100px;

        
    }


    
    .icon-container{
        width: 100%;
       
       font-size: 1rem;
       padding-top: 30px;
       padding:30px 20px ;
       
        margin: 0 auto;
        gap: 10px;
        

        display: grid;
        grid-template-columns:repeat(3,1fr) ;
    }
    footer{
        
        width: 105%;
        margin: 0px 0px;
    }
    .footer-content{
        font-size: 1.5rem;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .footer-last-item{
        font-size: 10px;
    }
    

    }


@media screen and (min-width:576px) and (max-width:960px) {
    .nav-container ,.banner-container {
        flex-direction: column;
    }  
    .nav-content{
        width: 100%;
        display: flex;
        gap: 30px;
        
    }
    .nav-logo{
        width: 100%;
        text-align: center;
        padding-bottom: 50px;
    }
    .banner-content{
        width: 100%;
        margin-left: 0px;
        padding-bottom: 30px;

    }
    .banner-img{
        width: 100%;
        
        
    }
    .banner-img img{
        height: 160vh;
        
        padding: 20px 70px 20px 70px;
    
    }
    .section-container{
        align-items: center;
        
        padding-left: 50px;
    }
    .game-content{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        padding: 20px 0px;
    }
    .game1{
        padding-bottom: 50px;
    }
    .game2{
        padding-bottom: 50px;
    }
    .game3{
        padding-bottom: 50px;
    }
    .game4{
        padding-bottom: 50px;
    }
    .game-img{
        padding-bottom: 30px;
    }
    .game-des{
        width: 300px;
    }


    .horse-container{
        flex-direction: column;
    }
    .horse-content{
        width: 50%;
        margin: 0 auto;
        padding-left: 0px;
        padding-top: 0px;
    }
    .horse-title{
        font-size: 3rem;
        text-align: center;
    }
    .horse-desc{
        width: 100%;
        line-height: 30px; 
        text-align: center;
        font-size: 1.5rem;
    }
    .horse-img{
        width: 50%;
        margin: 0 auto;
        align-items: center;
        margin-top: 50px;
    }
    .horse-img .img-overlap{
        width: 60%;
        margin-top: 150px;
        margin-left: 100px;

        
    }
    .icon-container{

        width: 100%;
        display: grid;
       font-size: 1rem;
       
       padding:30px 30px ;
        margin: 0 auto;
        gap: 30px;
        grid-template-columns:repeat(3,1fr) ;
    }

    footer{
        
        width: 100%;
        margin: 0px 0px;
    }
    .footer-content{
        font-size: 1.5rem;
        padding: 20px 10px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
    }
    .footer-last-item{
        font-size: 15px;
    }


}